<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Entries index</title>
        <link href="/media/master_style_sheet.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div class="container container_16">
            <div id="content">
                {% for entry in entry_list %}
                    {{ entry.render }}
                    <div class="clear">&nbsp;</div>	
                {% endfor %}
            </div><!-- This is where the content region ends -->
        <div class="clear">&nbsp;</div> 
        </div><!-- This is where the container ends -->
    </body>
</html>