<div class="content-leftimage">
    <div class="standard-image-box">
        {% for photo in entry.first_column_images.all  %}
        <img src="{{ photo.get_standard_url }}">
        {% endfor %}
        {% for photo in entry.second_column_images.all  %}
        <img src="{{ photo.get_standard_url }}">
        {% endfor %}
    </div>
    <div class="content-text">
        {{ entry.firstText }}{{ entry.secondText }}{{ entry.thirdText }}{{ entry.fourthText }}
    </div>
    <div class="clear">&nbsp;</div>
</div>